<form name="editForm" role="form" novalidate (ngSubmit)="save()">
  <label for="name">Name</label> &nbsp;&nbsp;&nbsp;
  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" />

  <br /><br />

  <button type="submit">
    Save
  </button>

  <br /><br />
  <hr>
  <br /><br />

  <ul>
    <li *ngFor="let user of listUser">
      <a (click)="loadItem(user)">{{ user.id }} - {{ user.name }}</a>
      &nbsp;&nbsp;&nbsp;
      <a (click)="remove(user)">(Remove)</a>
    </li>
  </ul>
</form>
